.input-post {
    min-height: 100px;
    background: $white;
}

.userpost-name {
    margin: unset;
    margin-bottom: 5px;
    font-size: 18px;
}   

.userpost-alias {
    color: $gray-dark;
    font-size: 12px;
}

.tweet-input {
    outline: none;
    border: 1px solid $gray-light;
    border-radius: 10px;
    background: $gray-light-1;
    height: 100px;
    resize: none;
}

.btn-tweet {
    padding: 5px 10px;
    border-radius: 20px;
}


.posts {
    min-height: 400px;
 
    
}

.no-posts {

    margin-left: auto;
    margin-right: auto;
    text-align: center;
    min-height: 400px;
    line-height: 400px;
    background: $white;
}

.post-tweet {
    background: $white;
    min-height: 200px;
}