<!DOCTYPE html>
<html>
  <head>
    <title>ReactInRailsDemo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'dashboard' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>