.scrollbar {
    display: flex;
    overflow-y:auto;
    height: 85vh;
    @media screen and (max-width:844px) {
        overflow-y: unset;
    }
}

body {
   

    @media screen and (max-width:844px) {
        overflow-y: unset;
    }
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: gray;
    height: 5px;
}