.noltifcation {
    position: relative;
    padding: 5px 20px;
    background: $white;
    bottom: 10px;
}


.bg-success {
    background: rgb(207, 235, 207);
}

.bg-invalid {
    background: #eff8c1;
}

.bg-internal {
    background: rgb(238, 167, 167);
}

.bg-invalid-login {
    background: rgb(238, 167, 167);
}